---
layout: contenido
title: Contenido y Donaciones a Leo Puentes
description: Mejora tu vida con crecimiento personal y educación financiera. ¡Apoya este proyecto con donaciones a Leo Puentes!
permalink: /contenido/
---
<!-- iconos sociales -->
<section class="social-contenido">
    <a href="https://leopuentes.me/" target="_blank" title="productos y tienda de leo puentes"><img loading="lazy" src="/assets/images/landing/store.png" alt="libro de leonardo puentes"></a>
    <a href="mailto:elsermillonario@gmail.com" target="_blank" title="correo de contacto con leo puentes"><img loading="lazy" src="/assets/images/landing/email.png" alt="comunicarse con leo puentes"></a>
    <a href="https://www.youtube.com/@LeoPuentesA" target="_blank" title="canal de youtube de leo puentes"><img loading="lazy" src="/assets/images/landing/youtube.png" alt="youtube de leo puentes"></a>
    <a href="https://www.tiktok.com/@leopuentes.me" target="_blank" title="canal de tik tok de leo puentes"><img loading="lazy" src="/assets/images/landing/tik-tok.png" alt="tik tok de leo puentes"></a>
    <a href="https://www.facebook.com/LeoPuentes.me" target="_blank" title="facebook de leo puentes"><img loading="lazy" src="/assets/images/landing/social-media.png" alt="facebook de leo puentes"></a>
    <a href="https://www.instagram.com/leopuentes.me" target="_blank" title="Instagram de leo puentes"><img loading="lazy" src="/assets/images/landing/instagram.png" alt="instagram de leo puentes"></a>    
</section>

<!-- Cuadros de informacion e imagenes -->
<section class="img-text">
    <section class="public-contenido">  
        {%- for posts in site.posts limit:3 -%}
        <small class="ocultar">{% increment variable %}</small>
            <section class="second-contenido">                
                {%- assign list_post = site.posts[variable] -%}
                <article>
                    {% if list_post.image %}
                        <a href="{{ list_post.url | relative_url }}" title="{{ list_post.title }}"><img src="{{list_post.image}}" alt="{{ list_post.title }}" loading="lazy"></a>
                    {% endif %} 
                </article>
                <section>
                    <h2><a href="{{list_post.url | relative_url }}" title="{{ list_post.title }}" target="_blank">{{ list_post.title }}</a></h2>
                    <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
                    <span>En {% for category in list_post.categories %}<a href="{{ 'categorias.html' | relative_url }}#{{ category | downcase | replace:'-',' ' }}" title="{{ category }}">{{category | replace:'-',' ' }}</a> , {% endfor %}</span>{{ list_post.date | date: '%b %d, %Y' }}
                </section>
            </section>
        {%endfor%}
    </section>
</section>

<!-- Puedes invitarme a un Café -->
 <section class="donacion-cafe">
    <h3>Puedes Invitarme a un CAFÉ! 😁</h3>
 </section>
 <section class="opciones-cafe">
    <section class="donar">
        <h3>PayPal ($ € £ ¥)</h3>
        <a href="https://www.paypal.com/donate/?hosted_button_id=UUNHTLSBB7SD6" target="_blank"><img src="{{ site.logo-donar }}" alt="donar a leo puentes"></a>
    </section>
    <section>
        <h3>Bitcoin (BTC)</h3>
        <img src="/assets/images/wallets/donacion-btc.png" alt="">
        <div style="margin-top: 10px;">
            <span id="wallet-address-1-display" style="width: 250px; padding: 5px;">bc1q*****************0tfu</span>
            <button onclick="copyToClipboard('wallet-address-1', '0bc1qahlgj40p2rkea7edflh49wykgp3lmngstk0tfu', this)" style="padding: 5px 10px; cursor: pointer;">Copiar Dirección BTC</button>
        </div>
    </section>
    <section>
        <h3>USDT (BSC)</h3>
        <img src="/assets/images/wallets/usdt-bsc.png" alt="">
        <div style="margin-top: 10px;">
            <span id="wallet-address-1-display" style="width: 250px; padding: 5px;">0x105***************2822</span>
            <button onclick="copyToClipboard('wallet-address-1', '0x10504e9BDBF5F12679ffb4db1D868512b3e22822', this)" style="padding: 5px 10px; cursor: pointer;">Copiar Dirección USDT</button>
        </div>
    </section>
 </section>
