---
layout: default
permalink: /
description: Desarrolla habilidades y conocimientos no solo en Programación. Crece como Persona y Edúcate Financieramente para una vida equilibrada.
title: Web Oficial de LeoWebSEO y ElSerMillonario
keywords: programacion html, programacion web, optimizacion web seo, programar para el seo, optimizacion de sitio web, leo web seo, leo puentes
---

{% if page.url == "/" %}
    <!--Encabezado con presentacion-->
    <section class=" presentacion ">
        <section class="social">
            <h1 class="texto" data-text="LEO PUENTES">LEO PUENTES</h1>
            <div class="imgsocial">
                <a href="https://odysee.com/@LeoPuentes:2" target="_blank" rel="nofollow noopener noreferrer"><img src="/assets/images/social/odysse.png" alt="odysee el ser millonario"></a>
                <a href="https://www.youtube.com/@LeoPuentesA" target="_blank" rel="nofollow noopener noreferrer"><img src="/assets/images/social/youtube.png" alt="youtube el ser millonario"></a>
                <a href="https://www.tiktok.com/@leopuentes.me" target="_blank" rel="nofollow noopener noreferrer"><img src="/assets/images/social/tik-tok.png" alt="tiktok el ser millonario"></a>
                <a href="https://www.facebook.com/leopuentes.me" target="_blank" rel="nofollow noopener noreferrer"><img src="/assets/images/social/facebook.png" alt="facebook el ser millonario"></a>
                <a href="https://www.publish0x.com/@El-Ser-Millonario" target="_blank" rel="nofollow noopener noreferrer"><img src="/assets/images/social/publish0x.png" alt="publish0x el ser millonario"></a>
            </div>  
        </section>

        <section>
            <p>Impulsar el potencial de Internet es mi pasión. He decidido crear este blog, donde deseo y quiero compartir todo el conocimiento que he aprendido y el que voy aprendiendo.</p>
            <p>Disfruto enseñar y junto a ello, he desarrollado habilidades y conocimientos. El Crecimiento Personal y La Educación Financiera es un Estilo de Vida y no una moda.</p>
            <p>Todo lo que soy está en este blog, espero sea de tu agrado y podamos aprender juntos.</p>
        </section>
    </section>

    <!--Ultimos extractos publicados. Se resaltan las primeras 4 publicaciones-->
    <section class="public-prin">
        {% assign latest_post = site.posts[0]    %}
        <article>
            <a href="{{ latest_post.url | relative_url }}" title="{{latest_post.title}}">
                <div style="background-image: url({{ latest_post.image }}); height: 65%; background-size: cover; background-repeat:no-repeat;"></div>
            </a>
            <h2><a class="text-dark" href="{{ latest_post.url | relative_url }}" title="{{ latest_post.title }}">{{ latest_post.title }}</a></h2>
            <p>{{ latest_post.excerpt | strip_html | strip_newlines | truncate: 227 }}</p>
            <small>
                En <span>{% for category in latest_post.categories %}<a href="{{ 'categorias.html' | relative_url }}#{{ category | downcase | replace:'-',' ' }}" title="{{ latest_post.title }}">{{ category | replace:'-',' '}}</a> , {% endfor %}</span>
            </small>
            <small>{{ latest_post.date | date: '%b %d %Y' }}</small>
        </article>
    </section>
    <!-- Las demas 3 entradas con miniatura-->
    <section class="public-second">  
        {%- for posts in site.posts limit:3 -%}
        <small class="ocultar">{% increment variable %}</small>
            <section class="second-public">
                
                {%- assign list_post = site.posts[variable] -%}
                <article>
                    {% if list_post.image %}
                        <a href="{{ list_post.url | relative_url }}" title="{{ list_post.title }}"><img src="{{list_post.image}}" alt="{{ list_post.title }}" loading="lazy"></a>
                    {% endif %} 
                </article>
                <section>
                    <h2><a href="{{list_post.url | relative_url }}" title="{{ list_post.title }}">{{ list_post.title }}</a></h2>
                    <span>En {% for category in list_post.categories %}<a href="{{ 'categorias.html' | relative_url }}#{{ category | downcase | replace:'-',' ' }}" title="{{ category }}">{{category | replace:'-',' ' }}</a> , {% endfor %}</span>{{ list_post.date | date: '%b %d, %Y' }}
                </section>
            </section>
        {%endfor%}
    </section>

    <!-- Prueba para identificar post de la categoria Programacion -->
    <section class="separador">
        <h2>ÚLTIMAS PUBLICACIONES DE INVERSIÓN</h2>
        <a class="boton" href="/inversion/">Ir a contenido completo y Leer más...</a>
    </section>
    
    <section class="content-develop">
        <section class="grilla-develop">
            {% for post in site.categories.Inversion limit:10 %}
                <article>
                    <a href="{{post.url | relative_url }}" title="{{ post.title }}">
                        <img src="{{post.image}}" alt="{{post.title}}" loading="lazy">
                    </a>
                    <div class="categorie-date">
                        <span>
                            {% for category in list_post.categories %}
                                {% assign seconcatego = post.categories[1] %}
                            {% endfor %}
                            <a href="{{ 'categorias.html' | relative_url }}#{{ seconcatego | downcase }}" title="{{ post.title }}">{{ seconcatego | replace:'-',' ' }}</a>
                        </span>
                        <small>{{ post.date | date: '%b %d, %Y' }}</small>
                    </div>
                    <h3><a href="{{post.url | relative_url }}" title="{{post.title}}">{{post.title}}</a></h3>
                    <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
                    <a class="boton" href="{{post.url | relative_url }}" title="{{ post.title }}">Leer más...</a>
                </article>
            {% endfor %}
        </section>
    </section>

    <!-- Para identificar post de la categoria Motivacion -->
    <section class="separador">
        <h2>Crecimiento y Desarrollo Personal</h2>
        <a class="boton" href="/motivacion/">Ir a contenido completo y Leer más...</a>
    </section>
    <section class="content-motiv">
        <section class="grilla-motiv">
            {% for post in site.categories.Motivacion limit:6 %}
                <article>
                    <h3><a href="{{post.url | relative_url }}" title="{{post.title}}">{{post.title}}</a></h3>
                    <a href="{{post.url | relative_url }}" title="{{ post.title }}">
                        <img src="{{post.image}}" alt="{{post.title}}" loading="lazy">
                    </a>
                    <small>{{ post.date | date: '%b %d, %Y' }}</small>
                    <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 227 }}</p>
                    <p><span>En {% for category in post.categories %}<a href="{{ 'categorias.html' | relative_url }}#{{ category | downcase }}" title="{{ category }}">{{ category | replace:'-',' ' }}</a>  {% endfor %}</span></p>
                    <a class="boton" href="{{post.url | relative_url }}" title="{{ post.title }}">Leer más...</a>
                </article>
            {%endfor%}
        </section>
    </section>

    </section>
    
{% endif %}