---
layout: default
permalink: /
description: Desarrolla habilidades y conocimientos no solo en Programación. Crece como Persona y Edúcate Financieramente para una vida equilibrada.
title: Leo Web SEO
---

{% if page.url == "/" %}
    <!--Encabezado con presentacion-->
    <section class="presentacion">
        <section class="social">
            <section>
                <p>Redes Sociales Programación
                <br/>@LeoWebSEO</p>
            </section> 
            <section class="imgsocial">
                <a href="https://odysee.com/@LeoWebSEO:f" target="_blank"><img style="margin-bottom: 50px;" src="/assets/images/social/odysse.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCuZ9plmJNzY4-TbvrrX86vQ" target="_blank"><img style="margin-bottom: 50px;" src="/assets/images/social/youtube.png" alt=""></a>
                <a href="https://www.tiktok.com/@leowebseo" target="_blank"><img style="margin-bottom: 50px;" src="/assets/images/social/tik-tok.png" alt=""></a>
                <a href="https://www.facebook.com/LeoWebSEO" target="_blank"><img style="margin-bottom: 50px;" src="/assets/images/social/facebook.png" alt=""></a>
                <a href="https://github.com/LeoWebSEO" target="_blank"><img style="margin-bottom: 50px;" src="/assets/images/social/github.png" alt=""></a>
            </section>  
            <section>
                <p>Redes Sociales Motivación
                <br/>@ElSerMillonario</p>
            </section> 
            <section class="imgsocial">
                <a href="https://odysee.com/@LeoPuentes:2" target="_blank"><img src="/assets/images/social/odysse.png" alt=""></a>
                <a href="https://www.youtube.com/c/ElSerMillonario" target="_blank"><img src="/assets/images/social/youtube.png" alt=""></a>
                <a href="https://www.tiktok.com/@elsermillonario" target="_blank"><img src="/assets/images/social/tik-tok.png" alt=""></a>
                <a href="https://www.facebook.com/elsermillonarioo" target="_blank"><img src="/assets/images/social/facebook.png" alt=""></a>
                <a href="https://www.publish0x.com/@El-Ser-Millonario" target="_blank"><img src="/assets/images/social/publish0x.png" alt=""></a>
            </section>  
        </section>

        <section>
            <h2 class="texto" data-text="LEO PUENTES">LEO PUENTES</h2>
            <p>Impulsar el potencial de Internet es mi pasión. He decidido crear este blog un poco híbrido, donde deseo y quiero compartir todo el conocimiento que he aprendido y el que voy aprendiendo.</p>
            <p>Disfruto enseñar y junto a ello, he desarrollado habilidades y conocimientos no solo para Programar. El Crecimiento Personal y La Educación Financiera también se ha convertido parte de mi vida como programador.</p>
            <p>Todo lo que soy está en este blog, espero sea de tu agrado y podamos aprender juntos.</p>
        </section>
    </section>

    <!--Ultimos extractos publicados. Se resaltan las primeras 4 publicaciones-->
    <section class="public-prin">
        {% assign latest_post = site.posts[0]    %}
        <article>
            <a href="{{ latest_post.url | relative_url }}">
                <div style="background-image: url({{ latest_post.image }}); height: 65%; background-size: cover; background-repeat:no-repeat;"></div>
            </a>
            <h2><a class="text-dark" href="{{ latest_post.url | relative_url }}">{{ latest_post.title }}</a></h2>
            <p>{{ latest_post.excerpt | strip_html | strip_newlines | truncate: 227 }}</p>
            <small>
                En <span>{% for category in latest_post.categories %}<a href="{{ 'categorias.html' | relative_url }}#{{ category | downcase }}">{{ category }}</a> , {% endfor %}</span>
            </small>
            <small>{{ latest_post.date | date: '%b %d %Y' }}</small>
        </article>
    </section>
    <!-- Las demas 3 entradas con miniatura-->
    <section class="public-second">  
        {%- for posts in site.posts limit:3 -%}
        <small class="ocultar">{% increment variable %}</small>
            <section class="second-public">
                
                {%- assign list_post = site.posts[variable] -%}
                <article>
                    {% if list_post.image %}
                        <a href="{{ list_post.url | relative_url }}"><img src="{{list_post.image}}" alt="{{ list_post.title }}" loading="lazy"></a>
                    {% endif %} 
                </article>
                <small>
                    <h2><a href="{{list_post.url | relative_url }}">{{ list_post.title }}</a></h2>
                    <span>En {% for category in list_post.categories %}<a href="{{ 'categorias.html' | relative_url }}#{{ category | downcase }}">{{ category }}</a> , {% endfor %}</span>{{ list_post.date | date: '%b %d, %Y' }}</small>
            </section>
        {%endfor%}
    </section>

    <!-- Prueba para identificar post de la categoria Programacion -->
    <section class="separador">
        <h2>ÚLTIMAS PUBLICACIONES DE PROGRAMACIÓN</h2>
        <a class="boton" href="/programacion/">Ir a contenido completo y Leer más...</a>
    </section>
    
    <section class="content-develop">
        <section class="grilla-develop">
            {% for post in site.categories.Programacion limit:10 %}
                <article>
                    <img src="{{post.image}}" alt="{{post.title}}" loading="lazy">
                    <div class="categorie-date">
                        <span>
                            {% for category in list_post.categories %}
                                {% assign seconcatego = post.categories[1] %}
                            {% endfor %}
                            <a href="{{ '/programacion' | relative_url }}#{{ category | downcase }}">{{ seconcatego }}</a>
                        </span>
                        <small>{{ post.date | date: '%b %d, %Y' }}</small>
                    </div>
                    <h3><a href="{{post.url | relative_url }}">{{post.title}}</a></h3>
                    <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
                    <a class="boton" href="{{post.url | relative_url }}">Leer más...</a>
                </article>
            {% endfor %}
        </section>
    </section>

    <!-- Prueba para identificar post de la categoria Motivacion -->
    <section class="separador">
        <h2>Contenido: Crecimiento Personal y Educación Financiera</h2>
        <a class="boton" href="/motivacion/">Ir a contenido completo y Leer más...</a>
    </section>
    <section class="content-motiv">
        <section class="grilla-motiv">
            {% for post in site.categories.Motivacion limit:6 %}
                <article>
                    <h3><a href="{{post.url | relative_url }}">{{post.title}}</a></h3>
                    <img src="{{post.image}}" alt="{{post.title}}" loading="lazy">
                    <small>{{ post.date | date: '%b %d, %Y' }}</small>
                    <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 227 }}</p>
                    <p><span>En {% for category in post.categories %}<a href="{{ '/motivacion' | relative_url }}#{{ category | downcase }}">{{ category }}</a>  {% endfor %}</span></p>
                    <a class="boton" href="{{post.url | relative_url }}">Leer más...</a>
                </article>
            {%endfor%}
        </section>
    </section>

    <section class="content-motiv inversion">
        <section class="grilla-motiv">
            {% for post in site.categories.Inversion limit:3 %}
                <article>
                    <h3><a href="{{post.url | relative_url }}">{{post.title}}</a></h3>
                    <img src="{{post.image}}" alt="{{post.title}}" loading="lazy">
                    </small>{{ post.date | date: '%b %d, %Y' }}</small>
                    <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 227 }}</p>
                    <p><span>En {% for category in post.categories %}<a href="{{ '/inversion' | relative_url }}#{{ category | downcase }}">{{ category }}</a>  {% endfor %}</span></p>
                    <a class="boton" href="{{post.url | relative_url }}">Leer más...</a>
                </article>
            {%endfor%}
        </section>
    </section>
    
{% endif %}