---
layout: default
title: Programación
permalink: /programacion/
---

<section class="encabezado">
    <h1>Fundamentos de Programación para el Desarrollo Web</h1>
    <h3>{ Optimización simple y funcional para el SEO }</h3>
    <p>Impulsa tus proyectos mejorando la estructura del código web. Velocidad, rendimiento y posicionamiento.</p>
</section>
<section class="separador-interno">
    <h2>CURSO: No programes solo para el usuario, programa para los buscadores</h2>
    <em>Implementar correctamente el maquetado de html5, permite una mejor comunicación entre motores de búsqueda y usuario. En el siguiente curso aprenderás a crear Sitios Webs que no solamente se centran en lo visual, sino también en el desarrollo web optimizado para el SEO.</em>
</section>
<section class="content-develop">
    <section class="grilla-develop">
        {% for post in site.categories.Programacion %}
            <article>
                <img src="{{post.image}}" alt="{{post.title}}">
                <div class="categorie-date">
                    <h4>
                        {% for category in post.categories %}
                            {% assign seconcatego = post.categories[1] %}
                        {% endfor %}
                        <a href="{{ 'categories.html' | relative_url }}#{{ category | downcase }}">{{ seconcatego }}</a>
                    </h4>
                    <small>{{ post.date | date: '%b %d, %Y' }}</small>
                </div>
                <h3><a href="{{post.url | relative_url }}">{{post.title}}</a></h3>
                <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
                <a class="boton" href="{{post.url | relative_url }}">Leer más...</a>
            </article>
        {% endfor %}
    </section>
</section>