<div class="image-grid">
    {% if page.youtubeLink != "" %}
    <div class="grid-item">
      <a href="{{ page.youtubeLink }}" title="Canal de Youtube de leo puentes" target="_blank" rel="follow">
        <img src="/assets/images/img-post/youtube4x4.webp" alt="YouTube Leo Puentes">
      </a>
    </div>
    {% endif %}
  
    {% if page.facebookLink != "" %}
    <div class="grid-item">
      <a href="{{ page.facebookLink }}" title="Videos de Leonardo Puentes por Facebook" target="_blank" rel="follow">
        <img src="/assets/images/img-post/Facebook_Watch4x4.webp" alt="Facebook de leonardo puentes">
      </a>
    </div>
    {% endif %}
  
    {% if page.odysseLink != "" %}
    <div class="grid-item">
      <a href="{{ page.odysseLink }}" title="Canal de Odysee de Leo Puentes" target="_blank" rel="follow">
        <img src="/assets/images/img-post/Odysee4x4.webp" alt="Odysse de leonardo puentes">
      </a>
    </div>
    {% endif %}
  
    {% if page.tiktokLink != "" %}
    <div class="grid-item">
      <a href="{{ page.tiktokLink }}" title="Contenido de Leo Puentes en TikTok" target="_blank" rel="follow">
        <img src="/assets/images/img-post/tiktok4x4.webp" alt="TikTok de leonardo puentes">
      </a>
    </div>
    {% endif %}
  
    {% if page.googlePodcastLink != "" %}
    <div class="grid-item">
      <a href="{{ page.googlePodcastLink }}" title="Podcast de Leonardo Puentes" target="_blank" rel="follow">
        <img src="/assets/images/img-post/google-podcasts4x4.webp" alt="Google Podcasts de leonardo puentes">
      </a>
    </div>
    {% endif %}
  
    {% if page.spotifyLink != "" %}
    <div class="grid-item">
      <a href="{{ page.spotifyLink }}" title="Contenido de Leonardo Puentes en Spotify" target="_blank" rel="follow">
        <img src="/assets/images/img-post/Spotify4x4.webp" alt="Spotify de leonardo puentes">
      </a>
    </div>
    {% endif %}
  
    {% if page.publish0xLink != "" %}
    <div class="grid-item">
      <a href="{{ page.publish0xLink }}" title="Contenido en ingles de Leo Puentes" target="_blank" rel="follow">
        <img src="/assets/images/img-post/publish0x4x4.webp" alt="Publish0x de leonardo puentes">
      </a>
    </div>
    {% endif %}
  </div>


  
  