---
---

<!DOCTYPE html>
<html lang="es">
    <head>
        {% include head.html %}
    </head> 
<body>

    <header class="header-contenido">
        <img loading="lazy" src="/assets/images/logo/perfil-leo-puentes.webp" alt="">
        <h2>Leo Puentes</h2>
        <em>Reconocer que estamos solos, es tal vez </br> el paso más importante para avanzar!</em>
    </header>

    <main>
        {{ content }}
    </main>

    <footer class="footer-contenido">
        <img loading="lazy" src="/assets/images/logo/logo-leo-puentes.webp" alt="">
        <p>Copyright © 2024</p>
    </footer>

</body>
</html>