---
---

<!DOCTYPE html>
<html lang="es">
    <head>
        {% include head.html %}
    </head> 
<body>
    <!--boton arriba-->
    <button class="toTop" id="toTop">
        <svg viewBox="0 0 24 24">
          <path d="m4 16 8-8 8 8"></path>
        </svg>
      </button>

    <header>
        {% include header.html %}
    </header>
    <section class="buscar2">
        {% include search-google.html %}
    </section>
    <main>
        {{ content }}
    </main>
    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>