---
---

<!DOCTYPE html>
<html lang="es-CO">
    <head>
        {% include head.html %}
    </head> 
<body>
    <!--boton arriba-->
    <div class="up">
        <a href="#"><img src="/assets/images/social/botton-up.png"></a>
    </div>
    <header>
        {% include header.html %}
    </header>
    <section class="buscar2">
        {% include search-google.html %}
    </section>
    <main>
        {{ content }}
    </main>
    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>