---
layout: default
---
<div id="progress-bar"></div>

<section class="breadcrumbs">
	{% include breadcrumbs.html %}
</section>
<section class="init-post">
	<div class="init-post-title">
		<span>
			{% for category in page.categories %}
			<a href="{{ "categorias.html" | relative_url }}#{{ category | downcase }}" title="{{ category }}">{{ category | downcase | replace:'-',' ' }}</a>
			{% endfor %}
			<h3>Autor: {{ page.author }}</h3>
		</span>
		<h1>{{ page.title }}</h1>
		<span>{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</span>
	</div>
	<div>
		{% if page.image %}
			<img src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | relative_url }}{% endif %}" alt="{{ page.title }}">
		{% endif %}	
	</div>
</section>

<section>
	<h5>Puedes disfrutar el contenido en las siguientes plataformas:</h5>
	<img src="/assets/images/img-post/youtube.png" alt="">
	<img src="/assets/images/img-post/Facebook_Watch.png" alt="">
	<img src="/assets/images/img-post/Odysee.png" alt="">
	<img src="/assets/images/img-post/tiktok.png" alt="">
	<img src="/assets/images/img-post/google-podcasts.png" alt="">
	<img src="/assets/images/img-post/Spotify.png" alt="">
	<img src="/assets/images/img-post/publish0x.png" alt="">
</section>

<section class="read">
	<aside>
		<section class="sticky-top">
			<h3>Comparte con ❤</h3>
				<div class="a2a_kit a2a_kit_size_40 a2a_vertical_style">
					<a class="a2a_button_whatsapp" rel="nofollow noopener noreferrer"></a>
					<a class="a2a_button_facebook" href="{{ post.url | relative_url }}" rel="nofollow noopener noreferrer"></a>
					<a class="a2a_button_twitter" rel="nofollow noopener noreferrer"></a>
					<a class="a2a_button_telegram" rel="nofollow noopener noreferrer"></a>
					<a class="a2a_button_google_gmail" rel="nofollow noopener noreferrer"></a>
					<a class="a2a_button_facebook_messenger" rel="nofollow noopener noreferrer"></a>
					<a class="a2a_dd" href="https://www.addtoany.com/share" rel="nofollow noopener noreferrer"></a>
				</div>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
		</section>		
	</aside>
	
	<section>
		<article>
			{{ content }}
		</article>
	</section>
</section>

<section class="separador-interno">
	<h2>POST RECOMENDADOS</h2>
</section>

<section class="post-sugeri">
	<section>
	{% if page.previous.url %}
	<div class="pre-post">
		{% if page.previous.image %}<a href="{{ page.previous.url | relative_url }}" title="{{page.previous.title}}" rel="noopener noreferrer"><img src="{{page.previous.image | relative_url }}" alt="{{page.previous.title}}"></a> {% endif %}
		<p>
			<a href="{{ page.previous.url | relative_url }}" title="{{page.previous.title}}" rel="noopener noreferrer"> {{page.previous.title}}</a><br><br>
			<span>{{ page.date | date: '%b %d, %Y' }}</span><br>
		</p>
	</div>
	{% endif %}
	</section>
	<section>
	{% if page.next.url %}
	<div class="next-post">
		<p>
			<a href="{{ page.next.url | relative_url }}" title="{{page.next.title}}" rel="noopener noreferrer"> {{page.next.title}}</a><br/><br/>
			<span>{{ page.date | date: '%b %d, %Y' }}</span><br/>
		</p>
		{% if page.next.image %}<a href="{{ page.next.url | relative_url }}" title="{{page.next.title}}" rel="noopener noreferrer"><img src="{{page.next.image | relative_url }}" alt="{{page.next.title}}"></a> {% endif %}
	</div>
	{% endif %}
	</section>
</section>